body{
	margin: 0;
/*        background: #cccccc no-repeat center center fixed;  Old browsers 
        background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%) no-repeat center center fixed;  FF3.6+ 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)) no-repeat center center fixed;  Chrome,Safari4+ 
        background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%) no-repeat center center fixed;  Chrome10+,Safari5.1+ 
        background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%) no-repeat center center fixed;  Opera 11.10+ 
        background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%) no-repeat center center fixed;  IE10+ 
        background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%) no-repeat center center fixed;  W3C 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ) no-repeat center center fixed;  IE6-9 
        
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;*/
}
	
#header{
	z-index: 9999;
	position:relative;
	height: 150px;
	padding-top: 80px;
}

#title_first_letter{
	color: #8DCE02;	
	font-family: 'Bowlby One', cursive;
	font-size: 150px;
}

#title{
	font-family: 'Bowlby One', cursive;
	color: #9A9E93;
	font-size: 100px;
}

#title_middle_sign{
	color: #D9DAD7;
	font-family: 'Cookie', cursive;
	font-size: 250px;
	text-align:center;
}

#title_middle_div{
	text-align: left;	
	height: 80px;
	padding: 2% 0 0 4%;
}

#div_bol{
	position:fixed;
	bottom: 0;
	right: 0;
	z-index: 1;
        width: 35%;
	height: auto; 
}

#img_bol{
	width: 100%;
	height: 100%;
}

/**
  * Content
**/

#content{

}

#content_title{
    padding: 2% 0 1% 4%;
}

#right_content {
    z-index: 9998;
    position:relative;
}

#row_text{
    z-index: 9997;
    position:relative;
    padding: 2% 0 0 0;
}

#row_title_text{
   padding: 0 0 0 4%; 
   font-family: 'Verdana', cursive;
   color: #9A9E93;
   font-size: 15px;
   font-weight: bold;
}

.baseSentence {
    color: #8DCE02;	
}

#main_content {
    width:100%;
    height: 200px;
}

#left_content {
    width: 20%;
    height: 100%;
    float: left;
    
}

#right_content {
    width: 80%;
    height: 100%;
    float:left;
}


.menu_options {
    color: #727371;
    font-family: 'Verdana';
    color: white;
    font-size: 18px;
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px
}

#menu {
    background-color: #D9DAD7;
    width: 50%;
    margin: 10% 25% 0 25%;
    height: 60%;
    
}

#menu_option1:hover, #menu_option2:hover, #menu_option3:hover, #menu_option4:hover { background-color: #8DCE02;}

.menu_selected {
    background-color: #8DCE02;
}


/** 
  * Footer
**/

#footer{
    position:fixed;
    bottom: 0;
    z-index: 9999;
    color: #4F6171;
    font-weight: bold;
}

.social_img{
    padding: 0 0 0 10px;	
}

#social{
    padding: 5px 0 0 10px;	
    float:right;
}

#copyright{
    float:left;
    width: 47%;
    padding: 0 0 0 3%;
}

#social_right {
    width: 40%;
    float: left;
    padding: 0 3% 0 0;
}

#nolink {
    text-decoration: none;
    color: black;
    float: left;
}

#socialf{
    float: left;
    width: 50%;
}

#socialt{
    float: left;
    width: 50%;
}


/* Media Query */

/* Large desktop */
@media (min-width: 1200px) {

	body{

	}
	
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

	#title_first_letter{
		color: #8DCE02;	
		font-family: 'Candal', sans-serif;
		font-size: 125px;
	}
	
	#title{
		font-family: 'Candal', sans-serif;
		color: #9A9E93;
		font-size: 75px;
	}
	
	#title_middle_sign{
		color: #D9DAD7;
		font-family: 'Cookie', cursive;
		font-size: 175px;
		text-align:center;
	}
	
	#title_middle_div{
		text-align: left;	
		height: 60px;
		padding: 2% 0 0 4%;

	}

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

	#title_first_letter{
		color: #8DCE02;	
		font-family: 'Candal', sans-serif;
		font-size: 40px;
	}
	
	#title{
		font-family: 'Candal', sans-serif;
		color: #9A9E93;
		font-size: 30px;
	}
	
	#title_middle_sign{
		color: #D9DAD7;
		font-family: 'Cookie', cursive;
		font-size: 60px;
		text-align:center;
	}
	
	#title_middle_div{
		text-align: left;	
		height: 40px;
		padding: 2% 0 0 4%;
	}
        
        #div_bol{
            position:fixed;
            bottom: 0;
            right: 0;
            z-index: 1;
            width: 35%;
            height: auto; 
        }

        #img_bol{
                width: 100%;
                height: 100%;
        }
        
        #row_text{
            z-index: 9997;
            position:relative;
            padding: 2% 0 0 3%;
            width: 40%;
        }
        
        #row_title_text {
            font-size: 12px;
        }
        
        #line {
            height: 10px;
        }
       
        #copyright{
            float:left;
            width: 30%;
            padding: 0 0 0 3%;
            font-size: 13px;
        }

        #social_right {
            width: 50%;
            float: right;
            padding: 0 3% 0 0;
        }

        #content_title {
            color: #727371;
            font-family: 'Verdana', cursive;
            font-size: 20px;
            font-weight: bold;
        }

        #nolink {
            text-decoration: none;
            color: black;
            float: left;
        }

        #socialf{
            float: left;
            width: 40%;
        }

        #socialt{
            float: left;
            width: 40%;
        }


}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
        
        #header{
                z-index: 9999;
                position:relative;
                height: 50px;
                padding-top: 20px;
        }

	#title_first_letter{
		color: #8DCE02;	
		font-family: 'Candal', sans-serif;
		font-size: 40px;
	}
	
	#title{
		font-family: 'Candal', sans-serif;
		color: #9A9E93;
		font-size: 30px;
	}
	
	#title_middle_sign{
		color: #D9DAD7;
		font-family: 'Cookie', cursive;
		font-size: 60px;
		text-align:center;
	}
	
	#title_middle_div{
		text-align: center;	
		height: 40px;
		padding: 2% 0 0 4%;
	}
        
        #div_bol{
            position:fixed;
            bottom: 0;
            right: 0;
            z-index: 1;
            width: 55%;
            height: auto; 
        }

        #img_bol{
                width: 100%;
                height: 100%;
        }
        
        #row_text{
            z-index: 9997;
            position:relative;
            padding: 2% 0 0 3%;
            width: 100%;
        }
        
        #row_title_text {
            font-size: 12px;
        }
        
        #line {
            height: 10px;
        }

}


/* Helper classes - Remove when project is done*/

.greenHelper{
	background-color: green;
}

.brownHelper{
	background-color: brown;	
}
